/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 50px;
  color: #fff;
  font-size: 18px;
  background-image: url('../images/bg.jpg');
}

.navbar-brand {
  font-size: 16px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

.carousel-caption {
  z-index: 10;
  color: #fff;
}

.carousel-caption h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}
.carousel-caption p {
  font-size: 34px;
  color: #fff;
 
}

.carousel-inner{
   
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 50%;
    min-height: 100px;
   
  }
  
/* Declare heights because of positioning of img element */
.carousel .item {
  height: auto;
  background-color: url('../images/logo2.jpg');
}
.carousel-inner > img {
     width: auto;
    height: 200px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}



  
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 5px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
 
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
  }
