/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 50px;
  color: #fff;
  font-size: 18px;
  background-image: url('../images/bg.jpg');
}

.navbar-brand {
  font-size: 16px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-inner{
   background-image: url('../images/logo2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }
  
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: url('../images/logo2.jpg');
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



  
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 5px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
 
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
