.main_width {
	width:1100px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.title {
	padding-top: 50px;
}

.cont_rgt {
  font-size: 18px;
}

.navbar-brand {
  font-size: 16px;
}

.title h1 {
	color: #fff;
	font-weight: bold;
}

body {
	background-image: url('../images/bg.jpg');
	color: #fff;
	font-size: 18px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

.carousel-caption {
  z-index: 10;
  color: #fff;
}

.carousel-caption h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}
.carousel-caption p {
  font-size: 34px;
  color: #fff;
 
}

.carousel-inner{
   
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 50%;
    min-height: 100px;
   
  }
  
/* Declare heights because of positioning of img element */
.carousel .item {
  height: auto;
  background-color: url('../images/logo2.jpg');
}
.carousel-inner > img {
     width: auto;
    height: 200px;
  display: block;
    margin-left: auto;
    margin-right: auto;
   /* max-width: 100%; */
}
