.main_width {
	width:1100px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.title {
	padding-top: 50px;
}

.footer {
	padding-left: 40px;
	
}

.cont_rgt {
	  float: right;
  height: auto;
  width: 64%;
}
