.main_width {
	width:1100px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.title {
	padding-top: 50px;
}

.cont_rgt {
float: right;
  height: auto;
  width: 70%;
  font-size: 1.0em;
  line-height: 21px;
}

.cont_rgt h1 {
  font-size: 30px;
  color: #444;
  margin: 0px;
  padding-bottom: 0.8em;
  font-weight: bold;
}

.cont_lft {
   float: left;
  height: auto;
  width: 250px;
}

.navbar-brand {
  font-size: 16px;
}
