.main_width {
	width:1100px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.title {
	padding-top: 50px;
}

.cont_rgt {
float: right;
  height: auto;
  width: 70%;
  font-size: 18px;
  line-height: 21px;
}

.cont_rgt h1 {
  font-size: 30px;
  color: #fff;
  margin: 0px;
  padding-bottom: 0.8em;
  font-weight: bold;
}

.banner_bt span {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 12px;
    float: left;
    border-bottom: solid 1px #cfcfcf;
}

.cont_lft {
   float: left;
  height: auto;
  width: 250px;
}

.navbar-brand {
  font-size: 16px;
}

.title h1 {
	color: #fff;
	font-weight: bold;
}

body {
	background-image: url('../images/bg.jpg');
	color: #fff;
	font-size: 18px;
}
